{% if condition_1 is defined %}
{% if condition_2 %}
condition1IsTrue, condition2IsTrue
{% if condition_3_is_defined is defined %}
condition3IsDefined: {{ .Values.condition_3_is_defined }}
{% endif %}
{% if condition_4_is_defined is defined %}
condition4IsNotDefinedButShouldAssumeDefinitionNotBool: {{ .Values.condition_4_is_defined }}
{% endif %}
{% endif %}
{% else %}
condition1IsFalse
  {% for item_some_list in .Values.some_list %}
  {{ item_some_list }}
  {% endfor %}{% for key, value in .Values.metrics.service_monitor.selector %}
  {{ key }}: {{ value | quote }}{% endfor %}
{% endif %}
{% if something is defined %}
  {{ .Values.something }}
{% else %}
{% if something_else is defined %}
  {{ .Values.something_else }}
{% else %}
  default
{% endif %}
{% endif %}