{% if condition1 is defined %}
{% if condition2 %}
condition1IsTrue, condition2IsTrue
{% if condition3IsDefined is defined %}
condition3IsDefined: {{ .Values.condition3IsDefined }}
{% endif %}
{% if condition4IsDefined is defined %}
condition4IsNotDefinedButShouldAssumeDefinitionNotBool: {{ .Values.condition4IsDefined }}
{% endif %}
{% endif %}
{% else %}
condition1IsFalse
  {% for item_someList in .Values.someList %}
  {{ item_someList }}
  {% endfor %}{% for key, value in .Values.metrics.serviceMonitor.selector %}
  {{ key }}: {{ value | quote }}{% endfor %}
{% endif %}
{% if something is defined %}
  {{ .Values.something }}
{% else %}
{% if somethingElse is defined %}
  {{ .Values.somethingElse }}
{% else %}
  default
{% endif %}
{% endif %}