labels:
{{ .Values.labels | indent(.Values.indentValue) | squote }}
{{ .Values.labels | quote | indent(6) }}
{{ .Values.labels | toYaml | indent(4) }}

somethingElse:
  {{ hello }}

car:
  {{ .Values.someValue | toYaml('.') | quote | indent(8) }}