{% if condition1 %}
{% if condition2 %}
condition1IsTrue
{% endif %}
{% else %}
condition1IsFalse
  {% for item_someList in .Values.someKey.someList %}
  {{ item_someList }}
  {% endfor %}
{% endif %}{% for host in .Values.local.hosts %}{% for item_paths in .paths %}
  - http://{{ host.name }}{{ item_paths }}{% endfor %}{% endfor %}